:root {
  --my-transition-time: 10s;
  --circle-length: 628.406494140625;
  --circle-offset: 628.406494140625;
}

body {
  background: grey;
  font-family: 'Audiowide', cursive;
}

h1 {
  text-align: center;
  font-size: 3em;
  
}

hr {
  width: 70%;
  border: 2px solid orange;
}

circle {
  stroke: white;
  fill: transparent;
  stroke-width: 20;
}

path#circ-drawing {
  stroke-width: 20;
  fill: transparent;
  /* fill: green; */
  stroke-dasharray: var(--circle-length) var(--circle-length);
  stroke-dashoffset: var(--circle-offset);
}

path#circ-drawing.drawing-session {
  -moz-transition: stroke-dashoffset var(--my-transition-time) linear;
  -webkit-transition: stroke-dashoffset var(--my-transition-time) linear;
  -o-transition: stroke-dashoffset var(--my-transition-time) linear;
  transition: stroke-dashoffset var(--my-transition-time) linear;
  stroke: orange;
  stroke-dashoffset: 0;
}

path#circ-drawing.drawing-break {
  -moz-transition: stroke-dashoffset var(--my-transition-time) linear;
  -webkit-transition: stroke-dashoffset var(--my-transition-time) linear;
  -o-transition: stroke-dashoffset var(--my-transition-time) linear;
  transition: stroke-dashoffset var(--my-transition-time) linear;
  stroke: #FFCB00;
  stroke-dasharray: var(--circle-length) var(--circle-length);
  stroke-dashoffset: var(--circle-length);
}

text#countdown {
  text-anchor: middle;
  font-size: 3em;
  fill: rgb(51, 51, 51);
}
.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  box-sizing: border-box;
}

html {
  height: 95%;
}
body {
  margin: 10px;
  border: 5px solid orange;
  height: 100%;
}


.dash {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px;
}

.break, .session {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48%;
  /* padding: 5px 30px; */
}

.divider {
  height: 70px;
  border: 2px solid rgb(255, 165, 0);
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}
.timer-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 3em;
}

.timer-controls #state {
  font-size: 0.7em;
  padding: 0px 0px;
}

.controls-text {
  /* padding: 0px 30px; */
  cursor: pointer;
  padding: 0px 0px;
}

.control {
  /* padding: 5px 10px; */
  cursor: pointer;
  text-align: center; 
  padding: 0px 0px;
  /* border-radius: 5px; */
}

.control-num {
  /* width: 80px; */
  /* padding: 5px 5px; */
  text-align: center;
  padding: 0px 0px;
}

.timer-text {
  font-size: 1.5em;
}

.description {
  padding: 30px 10px;
  font-size: 1.5em;
  font-family: 'Architects Daughter', cursive;
}

@media (max-width: 460px) {
  h1 {
    font-size: 2em;
  }
  h3, .controls {
    font-size: 1.5em;
  }

  .timer-controls #state {
    font-size: 0.5em;
  }

  .dash {
    padding-top: 0px;
  }

  .timer {
    padding-top: 0px; 
  }
}