:root {
  --my-transition-time: 10s;
  --circle-length: 628.406494140625;
}

body {
  background: grey;
  font-family: 'Audiowide', cursive;
}
h1 {
  text-align: center;
  font-size: 3em;
}

svg {
  cursor: pointer;

}

rect {
  stroke: white;
  fill: transparent;
  stroke-width: 20;
}

circle {
  stroke: white;
  fill: transparent;
  stroke-width: 10;
}

path#circ-drawing {
  stroke-width: 10;
  fill: transparent;
  stroke: orange;
  /* fill: green; */
  stroke-dasharray: var(--circle-length) var(--circle-length);
  stroke-dashoffset: var(--circle-length);
}

path#circ-drawing.drawing {
  -moz-transition: stroke-dashoffset var(--my-transition-time) linear;
  -webkit-transition: stroke-dashoffset var(--my-transition-time) linear;
  -o-transition: stroke-dashoffset var(--my-transition-time) linear;
  transition: stroke-dashoffset var(--my-transition-time) linear;
  stroke-dashoffset: 0;
}

path#rect-drawing {
  stroke-width: 20;
  fill: transparent;
  stroke: red;
  stroke-dasharray: 1000 1000;
  stroke-dashoffset: 1000;
  position: absolute;
  top: 0;
  left: 0;
}

path#rect-drawing.drawing {
  -moz-transition: stroke-dashoffset var(--my-transition-time) linear;
  -webkit-transition: stroke-dashoffset var(--my-transition-time) linear;
  -o-transition: stroke-dashoffset var(--my-transition-time) linear;
  transition: stroke-dashoffset var(--my-transition-time) linear;
  stroke-dashoffset: 0;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px auto;
  box-sizing: border-box;
}
.box {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.dash {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}

.break, .session {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 30px;
}

.divider {
  height: 70px;
  border: 2px solid orange;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.control, .control-num {
  padding: 5px 20px;
  font-size: 2em;
}
.control {
  cursor: pointer;

}

.timer-text {
  font-size: 1.5em;
}