:root {
  --my-transition-time: 10s;
  --circle-length: 628.406494140625;
  --circle-offset: 628.406494140625;
}

html {
  height: 95%;
  min-height: 580px;
}
body {
  margin: 10px;
  border: 5px solid rgb(255, 165, 0);
  height: 100%;
  background: rgb(128, 128, 128);
  font-family: 'Audiowide', cursive;
}

h1 {
  text-align: center;
  font-size: 3em;
}

circle {
  stroke: rgb(255, 255, 255);
  fill: transparent;
  stroke-width: 20;
}

path#circ-drawing {
  stroke-width: 20;
  fill: transparent;
  stroke-dasharray: var(--circle-length) var(--circle-length);
  stroke-dashoffset: var(--circle-offset);
}

path#circ-drawing.drawing-session {
  -moz-transition: stroke-dashoffset var(--my-transition-time) linear;
  -webkit-transition: stroke-dashoffset var(--my-transition-time) linear;
  -o-transition: stroke-dashoffset var(--my-transition-time) linear;
  transition: stroke-dashoffset var(--my-transition-time) linear;
  stroke: rgb(255, 165, 0);
  stroke-dashoffset: 0;
}

path#circ-drawing.drawing-break {
  -moz-transition: stroke-dashoffset var(--my-transition-time) linear;
  -webkit-transition: stroke-dashoffset var(--my-transition-time) linear;
  -o-transition: stroke-dashoffset var(--my-transition-time) linear;
  transition: stroke-dashoffset var(--my-transition-time) linear;
  stroke: rgb(63, 191, 127);
  stroke-dasharray: var(--circle-length) var(--circle-length);
  stroke-dashoffset: var(--circle-length);
}

text#countdown {
  text-anchor: middle;
  font-size: 3.5em;
  fill: rgb(51, 51, 51);
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}

.break-session {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px;
}

.break, .session {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.timer-length-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.timer-length {
  text-align: center; 
  padding: 0px 0px;
}

.timer-length:nth-child(odd) {
  cursor: pointer;
}

.timer-length:nth-child(even) {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}


.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  box-sizing: border-box;
}

.timer-text {
  font-size: 1.5em;
}

.timer-operations {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 3em;
  padding: 0px 0px;
  text-align: center;
}

.timer-operator {
  text-align: center;
  padding: 0px 0px;
}

.timer-operator:nth-child(odd){
  cursor: pointer;
}

.timer-operator:nth-child(even){
  font-size: 0.7em;
}

@media (max-width: 460px) {
  html {
    min-height: 400px;
  }
  h1 {
    font-size: 2em;
  }
  h3, .timer-length-controls {
    font-size: 1.5em;
  }

  .timer-operations #state {
    font-size: 0.5em;
  }

  .break-session {
    padding-top: 0px;
  }

  .timer {
    padding-top: 0px; 
  }
}